/*sass page contact*/

.contact{
  a {
    &:hover {
      text-decoration: none !important;
      color: red !important;
    }
  }
}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .link-xs {
    font-size: 1.2rem !important;
    text-align: center !important;
    margin: auto !important;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

}