{% extends 'base.html.twig' %}

{% block title %}VirtySens | CGU{% endblock %}

{% block body %}

    <!--main start-->
    <main class="histoire container-fluid mb-5">
        <!--section 1 qui sommes nous start-->
        <section class="cgu-section-1 container mx-auto text-center my-5">
            <div class="row">
                <h3 class="mx-auto text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
                    Nos conditions générales d'utilisation
                </h3>
            </div>
        </section>
        <!--section 1 qui sommes nous stop-->

        <!--ligne de separation doree start-->
        <div class="ligne-or">
        </div>
        <!--ligne de separation doree stop-->

        <!--section 2 notre histoire start-->
        <section class="cgu-section-2 container-fluid mx-auto text-center">
            <div class="row mx-auto text-center">

                <div class="mx-auto text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
                    <h4 class="text-center">
                        Politique en matière de cookies
                    </h4>
                </div>

                <div class="text-cgu mx-auto text-center col-11 col-sm-11 col-md-11 col-lg-10 col-xl-10 mt-3">
                    <p class="text-left">
                        Cette politique de cookies explique ce que sont les cookies et comment nous les utilisons.
                        Vous devriez lire cette politique afin de pouvoir comprendre quel type de cookies nous utilisons,
                        ou les informations que Nous collectons à l'aide de Cookies et comment ces informations sont utilisées.
                    </p>
                </div>

                <div class="text-cgu mx-auto text-center col-11 col-sm-11 col-md-11 col-lg-10 col-xl-10 mt-3">
                    <p class="text-left">
                        Les cookies ne contiennent généralement pas d'informations permettant d'identifier personnellement un utilisateur,
                        mais les informations personnelles que nous stockons à votre sujet peuvent être liées aux informations stockées dans les cookies et obtenues à partir de ceux-ci.
                        Pour plus d'informations sur la manière dont nous utilisons, stockons et sécurisons vos données personnelles, consultez notre politique de confidentialité.
                    </p>
                </div>

                <div class="text-cgu mx-auto text-center col-11 col-sm-11 col-md-11 col-lg-10 col-xl-10 mt-3">
                    <p class="text-left">
                        Nous ne stockons pas d'informations personnelles sensibles, telles que des adresses postales, des mots de passe de comptes, etc. dans les cookies que nous utilisons.
                    </p>
                </div>

                <!--ligne de separation doree start-->
                <div class="ligne-or">
                </div>
                <!--ligne de separation doree stop-->

                <div class="mx-auto text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
                    <h5 class="text-center">
                        Politique en matière de cookies
                    </h5>
                </div>

                <div class="mx-auto text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
                    <h6 class="text-center">
                        Interprétation
                    </h6>
                </div>

                <div class="text-cgu mx-auto text-center col-11 col-sm-11 col-md-11 col-lg-10 col-xl-10 mt-3">
                    <p class="text-left">
                        Les mots dont la lettre initiale est en majuscule ont des significations définies dans les conditions suivantes.
                        Les définitions suivantes ont le même sens, qu'elles apparaissent au singulier ou au pluriel.
                    </p>
                </div>

                <div class="mx-auto text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
                    <h6 class="text-center">
                        Définitions
                    </h6>
                    <br>
                    <p class="text-center font-weight-bold">
                        Aux fins de la présente Politique relative aux cookies :
                    </p>
                </div>

                <div class="text-cgu mx-auto text-center col-11 col-sm-11 col-md-11 col-lg-10 col-xl-10 mt-3">
                    <p class="text-left">

                        La Société (désignée soit par " la Société ", " Nous ", " Notre " ou " Nos " dans la présente Politique relative aux cookies) désigne Virtysens sas, 55, rue Gustave Coliez, 59146 Pecquencourt.
                        <br>
                        Les cookies désignent les petits fichiers qui sont placés sur votre ordinateur, votre appareil mobile ou tout autre appareil par un site web,
                        contenant les détails de votre historique de navigation sur ce site web parmi ses nombreuses utilisations.
                        <br>
                        Site web désigne le site Virtysens.com, accessible depuis https://www.virtysens.com.
                        <br>
                        Vous désigne la personne physique accédant ou utilisant le Site Web, ou une société, ou toute entité juridique au nom de laquelle cette personne physique accède ou utilise le Site Web,
                        selon le cas.
                        <br>
                        L'utilisation des Cookies
                        <br>
                        Type de cookies que nous utilisons
                        <br>
                        Les cookies peuvent être des cookies "persistants" ou des cookies "de session".
                        <br>
                        Les Cookies persistants restent sur votre ordinateur personnel ou votre appareil mobile lorsque Vous vous déconnectez,
                        tandis que les Cookies de session sont supprimés dès que Vous fermez votre navigateur web.
                    </p>
                </div>

                <!--ligne de separation doree start-->
                <div class="ligne-or">
                </div>
                <!--ligne de separation doree stop-->

                <div class="mx-auto text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
                    <h5 class="text-center">
                        Nous utilisons à la fois des cookies de session et des cookies persistants aux fins énoncées ci-dessous :
                    </h5>
                </div>

                <div class="mx-auto text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
                    <h6 class="text-center">
                        Cookies nécessaires / essentiels
                    </h6>
                    <br>
                    <p class="text-center font-weight-bold">
                        Type : Cookies de session
                    </p>
                    <br>
                    <p class="text-center font-weight-bold">
                        Administrés par : Nous
                    </p>
                </div>

                <div class="text-cgu mx-auto text-center col-11 col-sm-11 col-md-11 col-lg-10 col-xl-10 mt-3">
                    <p class="text-left">
                        Objectif : Ces Cookies sont essentiels pour Vous fournir les services disponibles sur le Site Internet et pour Vous permettre d'utiliser certaines de ses fonctionnalités.
                        <br>
                        Ils aident à authentifier les utilisateurs et à prévenir l'utilisation frauduleuse des comptes d'utilisateurs.
                        <br>
                        Sans ces Cookies, les services que Vous avez demandés ne peuvent pas être fournis, et Nous utilisons ces Cookies uniquement pour Vous fournir ces services.
                    </p>
                </div>

                <div class="mx-auto text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
                    <h6 class="text-center">
                        Cookies de fonctionnalité
                    </h6>
                    <br>
                    <p class="text-center font-weight-bold">
                        Type : Cookies persistants
                    </p>
                    <br>
                    <p class="text-center font-weight-bold">
                        Administrés par : Nous
                    </p>
                </div>

                <div class="text-cgu mx-auto text-center col-11 col-sm-11 col-md-11 col-lg-10 col-xl-10 mt-3">
                    <p class="text-left">
                        Objectif : Ces cookies nous permettent de nous souvenir des choix que vous faites lorsque vous utilisez le site Web, comme la mémorisation de vos données de connexion ou de vos préférences linguistiques.
                        <br>
                        L'objectif de ces cookies est de vous offrir une expérience plus personnelle et de vous éviter de devoir saisir à nouveau vos préférences chaque fois que vous utilisez le site Web.
                    </p>
                </div>


                <div class="mx-auto text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
                    <h6 class="text-center">
                        Vos choix en matière de cookies
                    </h6>
                </div>

                <div class="text-cgu mx-auto text-center col-11 col-sm-11 col-md-11 col-lg-10 col-xl-10 mt-3">
                    <p class="text-left">
                        Si vous préférez éviter l'utilisation de cookies sur le site web, vous devez d'abord désactiver l'utilisation de cookies dans votre navigateur,
                        puis supprimer les cookies enregistrés dans votre navigateur et associés à ce site web.
                        <br>
                        Vous pouvez utiliser cette option pour empêcher l'utilisation de Cookies à tout moment.
                    </p>
                </div>

                <div class="text-cgu mx-auto text-center col-11 col-sm-11 col-md-11 col-lg-10 col-xl-10 mt-3">
                    <p class="text-left">
                        Si Vous n'acceptez pas Nos Cookies, Il se peut que Vous rencontriez quelques désagréments dans votre utilisation du site web et que certaines fonctionnalités ne fonctionnent pas correctement.
                    </p>
                </div>

                <div class="text-cgu mx-auto text-center col-11 col-sm-11 col-md-11 col-lg-10 col-xl-10 mt-3">
                    <p class="text-left">
                        Si Vous souhaitez supprimer les cookies ou demander à votre navigateur Web de supprimer ou de refuser les cookies, veuillez consulter les pages d'aide de votre navigateur Web.
                    </p>
                </div>

                <div class="container mx -auto text-center">
                    <div class="row mx -auto text-center">
                        <div class="list-group text-center mx-auto">

                            <a href="https://support.google.com/accounts/answer/32050" target="_blank" rel="noopener noreferrer nofollow"
                               class="list-group-item list-group-item-action list-group-item-info mt-2">
                                Pour le navigateur Web Chrome, veuillez consulter cette page de Google
                            </a>

                            <a href="http://support.microsoft.com/kb/278835" target="_blank" rel="noopener noreferrer nofollow"
                               class="list-group-item list-group-item-action list-group-item-info mt-2">
                                Pour le navigateur Internet Explorer, veuillez consulter cette page de Microsoft
                            </a>

                            <a href="https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored" target="_blank" rel="noopener noreferrer nofollow"
                               class="list-group-item list-group-item-action list-group-item-info mt-2">
                                Pour le navigateur web Firefox, veuillez visiter cette page de Mozilla
                            </a>

                            <a href="https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac" target="_blank" rel="noopener noreferrer nofollow"
                               class="list-group-item list-group-item-action list-group-item-info mt-2">
                                Pour le navigateur web Safari, veuillez visiter cette page de Apple :
                            </a>

                        </div>
                    </div>
                </div>

                <!--ligne de separation doree start-->
                <div class="ligne-or">
                </div>
                <!--ligne de separation doree stop-->

                <!-- --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

                <div class="mx-auto text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
                    <h6 class="text-center">
                        Nous contacter
                    </h6>
                </div>

                <div class="text-center mx-auto text-center col-11 col-sm-11 col-md-11 col-lg-10 col-xl-10 mt-3">
                    <p class="text-center">
                        Si vous avez des questions sur cette politique de cookies, vous pouvez nous contacter :
                    </p>
                </div>

                <div class="text-center mx-auto text-center col12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
                    <p class="text-center mr-3">
                        Par courrier électronique :
                    </p>
                    <br>
                    <p class="text-center">
                        <SCRIPT TYPE="text/javascript">
                            emailE = 'virtysens.com'
                            emailE = ('contact' + '@' + emailE)
                            document.write('<A class="text-uppercase text-decoration-none mail-cgu link-xs" href="mailto:' + emailE + '">' + emailE + '</A>')
                        </script>

                        <NOSCRIPT>
                            Email address protected by JavaScript
                        </NOSCRIPT>
                    </p>
                </div>


                <div class="text-center mx-auto text-center col12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
                    <p class="text-center">
                        <a href="https://www.virtysens.com/contact" target="_blank" rel="noopener noreferrer nofollow"
                           class="btn btn-md btn-info mt-2">
                            En visitant cette page sur notre site web
                        </a>
                    </p>
                </div>










            </div>
        </section>

    </main>
    <!--main stop-->


{% endblock %}
