{# page jobs #}

{% extends 'base.html.twig' %}

{% block title %} VirtySens | Job: {{ job.titre }} {% endblock %}

{% block body %}

    <!--main start-->
    <main class="jobs container-fluid mb-5" style="min-height: 50vh !important;">

        <!--section 1 titre de l'article de presse start-->
        <section class="job-section-1 container mx-auto text-center my-5">
            <div class="row">
                <h3 class="mx-auto text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-3">
                    Poste: {{ job.titre }}
                </h3>
            </div>
        </section>
        <!--section 1 titre de l'article de presse stop-->

        <!--ligne de separation doree start-->
        <div class="ligne-or">
        </div>
        <!--ligne de separation doree stop-->

        <!--section photo et video de l'article start-->
        <section class="job-section-2 container-fluid mx-auto text-center">
            <div class="row mx-auto text-center d-flex justify-content-center align-items-center">
                <p class="col-11 col-sm-11 col-md-10 col-lg-10 col-xl-10 text-left">
                    {{ job.texte |raw }}
                </p>
            </div>
        </section>
        <!--section photo et video de l'article stop-->

        <!--bouton de retour start-->
        <div class="mx-auto text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="btn-cta mx-auto my-1 text-center">
                <a href="{{ path('jobs') }}" class="btn-cta btn btn-info btn-md mx-auto text-center text-white col-12 col-sm-11 col-md-10 col-lg-6 col-xl-6 text-uppercase">
                    Retour aux offres d'emploi
                </a>
            </div>
        </div>
        <!--bouton de retour stop-->
    </main>


{% endblock %}
